.excellence {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    font-size: 30px;
}

.container__excellence {
    display: flex;
    justify-content: center;
}
.cards {
    display: grid;
    justify-content: space-between;
    width: 1000px;
    grid-template-columns: repeat(4, 246px);
    grid-template-rows: repeat(1, 130px);
}

.card {
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.card__title h2 {
    display: flex;
    text-align: center;
}

@media (max-width: 1040px) {

    .excellence {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 200px;
        font-size: 25px;
    }

    .cards {
        display: grid;
        justify-content: space-between;
        width: auto;
        grid-template-columns: repeat(4, 170px);
        grid-template-rows: repeat(1, 100px);
        gap: 5px;
    }
}

@media (max-width: 1040px) {
    .excellence {
        height: 300px;
        font-size: 19px;
    }
    
    .cards {
        grid-template-columns: repeat(2, 160px);
        grid-template-rows: repeat(2, 100px);
        gap: 10px;
    }
}


@media (max-width: 800px) {
    .excellence {
        height: 250px;
        font-size: 19px;
    }

    .cards {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(2, 80px);
        gap: 10px;
    }

}
