.promo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 800px;
  background: linear-gradient(to right, #d2d0d3, rgb(245, 245, 245));
}

.promo-container {
  width: 2000px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.promo-img {
  display: flex;
  height: 100%;
  align-items: end;
}

.promo__info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  font-family: "Forum", serif;
  font-weight: 400;
  color: #312736;
  padding: 150px 30px 0 0;
}

.promo__info-title {
  font-size: 122px;
  padding-bottom: 64px;
  
}

.promo__info-subtitle {
  font-size: 38px;
  padding-bottom: 93px;
  text-align: end;
}

.promo__info-discount {
  font-size: 56px;
}

.discount_br {
  display: none;
}

@media (max-width: 1673px) {
  .promo {
    height: 600px;
  }

  .promo-img_Heleo {
    width: 700px
  }
  
  .promo__info {
    padding: 100px 30px 0 0;
  }

  .promo__info-title {
    font-size: 100px;
    padding-bottom: 50px;
  }
  
  .promo__info-subtitle {
    font-size: 34px;
    padding-bottom: 70px;
  }
  
  .promo__info-discount {
    font-size: 46px;
  }
}

@media (max-width: 1395px) {
  .promo {
    height: 550px;
  }

  .promo-img_Heleo {
    width: 600px
  }
  
  .promo__info {
  }

  .promo__info-title {
    font-size: 80px;
  
  }
  .promo__info-subtitle {
    font-size:23px;
  
  }

  .promo__info-discount {
    font-size: 37px;
  }
}

@media (max-width: 1169px) {
  .promo {
    height: 500px;
  }



  .promo-img {
    width: 500px;
  }

  .promo-img_Heleo {
    width: 600px;
    transform: translateX(-100px);
  }
  
  .promo__info {
    padding: 80px 10px 0 20px;
  }

  .promo__info-title {
    font-size: 80px;
    padding-bottom: 50px;
  }
  
  .promo__info-subtitle {
    font-size:23px;
    padding-bottom: 70px;
  }
  
  .promo__info-discount {
    font-size: 37px;
  }
}

@media (max-width: 1066px) {
  .promo {
    height: 460px;
  }

  .promo-img {
    width: 300px;
  }

  .promo-img_Heleo {
    width: 500px;
    transform: translateX(-200px);
  }
  
  .promo__info {
    padding: 130px 10px 0 20px;
  }

  .promo__info-title {
    font-size: 60px;
    padding-bottom: 50px;
  }
  
  .promo__info-subtitle {
    font-size: 20px;
    padding-bottom: 70px;
  }
  
  .promo__info-discount {
    font-size: 28px;
  }
}

@media (max-width: 800px) {
  .promo {
    height: 400px;
  }

  .promo-img {
    width: 200px;
  }

  .promo-img_Heleo {
    width: 400px;
    transform: translateX(-100px);
  }
  
  .promo__info {
    padding: 120px 10px 0 20px;
  }

  .promo__info-title {
    font-size: 40px;
    padding-bottom: 30px;
  }
  
  .promo__info-subtitle {
    font-size: 15px;
    padding-bottom: 40px;
  }
  
  .promo__info-discount {
    font-size: 18px;

  }
}

@media (max-width: 518px) {
  
  .promo {
    height: 350px;
  }

  .promo-img {
    width: 100px;
  }

  .promo-img_Heleo {
    width: 330px;
    transform: translateX(-100px);
  }
  
  .promo__info {
    padding: 120px 10px 0 20px;
    text-align: end;
  }

  .promo__info-title {
    font-size: 40px;
    padding-bottom: 30px;
  }
  
  .promo__info-subtitle {
    font-size: 15px;
    padding-bottom: 40px;
  }
  
  .promo__info-discount {
    font-size: 18px;
    text-align: end;
  }

  .discount_br {
    display: block;
  }
}

@media (max-width: 403px) {
  
  .promo {
    height: 350px;
  }

  .promo-img {
    width: 100px;
  }

  .promo-img_Heleo {
    width: 330px;
    transform: translateX(-100px);
  }
  
  .promo__info {
    padding: 110px 5px 0 10px;
    text-align: end;
  }

  .promo__info-title {
    font-size: 35px;
    padding-bottom: 20px;
  }
  
  .promo__info-subtitle {
    font-size: 15px;
    padding-bottom: 30px;
  }
  
  .promo__info-discount {
    font-size: 18px;
    text-align: end;
  }

  .discount_br {
    display: block;
  }
}