@import "./global.css";
@import "./header.css";
@import "./promo.css";
@import "./footer.css";
@import "./excellence.css";
@import "./team.css";
@import "./about_clinic.css";
@import "./work.css";


html {
    box-sizing: border-box;
}

.none {
    display: none;
}

*, *::after, *::before {
    box-sizing: inherit;
    padding: 0px;
	margin: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}