/* 
.card {
    border-radius: 25px;
    background-color: aliceblue;
}

.slide-content {
    margin: 0 40px;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
}

.card-image .card-img {
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    
} */




.team {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.team__title {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.swiper {
    display: flex;
    width: 100%;
    max-width: 1110px;
    padding: 20px;
}

.team__card-wrapper {
    max-width: 1000px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.team__card-list .team__card-item {
    list-style: none;
}


.team__card-list .team__card-item .team__card-link {
    width: 264px;
    user-select: none;
    display: block;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    background-color: antiquewhite;
    border: 2px solid transparent;
    box-shadow:  0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease;
}

.team__card-list .team__card-item .team__card-link:hover {
    border-color: var(--dark-color);
}

.team__card-list .team__card-link .team__card-image  {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 10px;
}

.team__card-list .team__card-link .team__card-title {
    margin: 16px 0 18px;
    font-size: 1.19rem;
    font-weight: 500;

    color: rgb(37, 37, 37);
}

.team__card-list .team__card-link .card-subtitle {
    font-size: 0.95rem;
    color: rgb(37, 37, 37);
    font-weight: 400;
}

.swiper-button-prev, 
.swiper-button-next {
    color: var(--dark-color) !important;
}

.swiper-pagination-bullet-active {
    background:  var(--dark-color) !important;
}

.team {
    height: auto;
    padding-top: 30px;
}

.container__team {
    max-width: 1340px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.btn-team {
    font-size: 25px;
    border: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.team__cards {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(1, 370px);
    padding-bottom: 77px;
    
}

.team-card {
    border-radius: 2px;
}

.card__img_team {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 202px;
    overflow: hidden;
}

.img_team {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
}

.team-subtitle {
    color: #443B38;
    font-size: 17px;
    padding-bottom: 15px;
    text-align: start;
    padding-left: 14px;
    line-height: 22px;
    font-weight: 700;
}

.team-text {
    color: #9F857B;
    font-size: 16px;
    text-align: start;
    padding-left: 15px;
    width: 190px;
    text-align: start;
    padding-left: 14px;
    line-height: 21px;
}

.card__img_team {
    padding: 10px 10px 15px 10px;
    border-radius: 15px;
}


@media (max-width: 1372px) {
    .team__cards {
        gap: 35px;
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: repeat(1, 370px);
        padding-bottom: 60px;
        
    }

    .team {
        height: auto;
    }

    .container__team {
        width: 100%;
    }
    
    .hide {
        display: none;
    }

    .team__title {
        width: 100%;
    }
}

@media (max-width: 1213px) {
    .swiper {
        width: 800px;
        padding: 20px;
    }
}

@media (max-width: 1040px) {
    .team {
        padding-top: 0;
        margin-top: 0;
    }
}

@media (max-width: 811px) {
    .team__card-wrapper {
        display: flex;
        justify-content: center;
    }

    .swiper {
        width: 400px;
        padding: 20px;
    }

    .team__card-list .team__card-item .team__card-link {
        width: 200px;
    }

    .swiper {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .team__card-wrapper {
        max-width: 260px;
        margin: 0 38px 35px;
        padding: 0px 10px;
        overflow: hidden;
    }
    
    .swiper-button-prev {
        left: 0 !important;
    }

    .swiper-button-next {
        right: 0 !important;
    }

    .team__title {
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} 

@media (max-width: 806px) {
    .team {
        min-height: 61vh;
    }

    .team__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 35px;
        padding-bottom: 20px;
        color: rgb(80, 69, 102);
        font-weight: 700;
    }

    .team__cards {
        grid-template-columns: repeat(1, 220px);
        grid-template-rows: repeat(3, 360px);
        
        height: auto;
    }
}

@media (max-width: 400px) {
    .team__title {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 35px;
        padding-bottom: 20px;
        color: rgb(83, 83, 83);
        font-weight: 700;
    }

    .team__cards {
        grid-template-columns: repeat(1, 220px);
        grid-template-rows: repeat(3, 360px);
        
        height: auto;
    }

} 

